<div class="auth-main">
  <div class="auth-block">
    <h1>Journals</h1>
      <div class="row">
          <table class="table">
              <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>File</th>
                    <th>Publisher</th>
                    <th>Date Published</th>
                    <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td>Asthma</td>
                    <td>Asthma occurs from early stage in...  </td>
                    <td> File Uploaded </td>
                    <td> Jane Doe</td>
                    <td> May 12, 2017</td>
                    <td nowrap>
                        <button type="button" class="btn btn-warning btn-xs">
                            <span class="glyphicon glyphicon-upload"></span> Subscribe
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Asthma</td>
                    <td>Asthma occurs from early stage in...  </td>
                    <td> Jane Doe</td>
                    <td> File Uploaded </td>
                    <td> May 12, 2017</td>
                    <td nowrap>
                        <button type="button" class="btn btn-warning btn-xs">
                            <span class="glyphicon glyphicon-upload"></span> Subscribe
                        </button>
                    </td>
                </tr>
              </tbody>
            </table>
      </div>

  </div>
</div>
