<div class="auth-main">
  <div class="auth-block">
    <h1>Journals</h1>
      <div class="row">
          <table class="table">
              <thead>
                <tr>
                    <th>View</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Publisher</th>
                    <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor= "let journal of journals">
                    <td>
                        <a class="btn btn-warning btn-xs" href="/view-journal/{{journal.id}}">
                            <span class="glyphicon glyphicon-upload"></span> Read
                        </a>
                    </td>
                    <td>{{journal.name}}</td>
                    <td>{{journal.description}} </td>
                    <td> {{journal.publisher}} </td>
                    <td nowrap>
                        <button type="button" class="btn btn-warning btn-xs">
                            <span class="glyphicon glyphicon-upload"></span> Subscribe
                        </button>
                    </td>
                </tr>
              </tbody>
            </table>
      </div>

  </div>
</div>
