<div class="auth-main">
  <div class="auth-block">
    <h1>Sign Up</h1>


    <form #registrationForm="ngForm" (ngSubmit)="registerUser()" class="form-horizontal">
      <div class="form-group">
        <label for="inputFirstName" class="col-lg-4 control-label">{{errorMessage}}</label>
      </div>
      <div class="form-group">
        <label for="inputFirstName" class="col-lg-2 control-label">First Name</label>
        <div class="col-lg-4">
          <input type="text" class="form-control" id="inputFirstName" name="inputFirstName" placeholder="First Name" [(ngModel)]="newUser.firstname">
        </div>
      </div>
       <div class="form-group">
        <label for="inputLastName" class="col-lg-2 control-label">Last Name</label>
        <div class="col-lg-4">
          <input type="text" class="form-control" id="inputLastName" name="inputLastName" placeholder="Last Name" [(ngModel)]="newUser.lastname">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail" class="col-lg-2 control-label">Email</label>
        <div class="col-lg-4">
          <input type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Email Address" [(ngModel)]="newUser.email">
        </div>
      </div>

      <div class="form-group">
        <label for="inputPassword" class="col-lg-2 control-label">Password</label>
        <div class="col-lg-4">
          <input type="password" class="form-control" id="inputPassword" name="inputPassword" placeholder="Password" [(ngModel)]="newUser.password">
        </div>
      </div>
      <button class="btn btn-sm btn-primary btn-block" type="submit">Sign up</button>
    </form>


    
  </div>
</div>